<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>foo</string>
		<key>title</key>
		<string>Foo</string>
		<key>body</key>
		<string>Bar</string>
		<key>iconName</key>
		<string>Baz</string>
		<key>colorName</key>
		<string>Orange</string>
	</dict>
</array>
</plist>
